:root {
  --primary-color: #e5e3d6;
  --secondary-color: #c1d0ce;
  --text-color: #33376a;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}